[env]
## This is the template that is copied to mise.local.toml for local overrides
## This copy is committed to VCS to provide an example of local overrides
## Update it whenever new env vars are added to the project that may need local overrides
# Local environment overrides
# Uncomment and modify the variables below as needed

# ASTRO_PORT = 4321
# STORYBOOK_PORT = 6006
# PREVIEW_PORT = 4321
# WEBAPP_BASE_URL = "/"
# STORYBOOK_BASE_URL = "/"
