[tasks."prepare:git-hooks"]
description = "Install Git hooks"
run = "pnpm run prepare"
sources = [".husky/pre-commit"]

[tasks."prepare:local-overrides"]
description = "Setup local overrides file if not exists"
run = '''
if [ ! -f mise.local.toml ]; then
  sed '/^##/d' .config/mise/conf.d/local.toml.example > mise.local.toml
fi
'''

[tasks.prepare]
description = "Prepare project"
run = [{ task = "prepare:git-hooks" }, { task = "prepare:local-overrides" }]
